/*
CSS Superstructure Styles
Contains generic styles that can be built upon with custom CSS classes later including:
-grid layout
-alerts
-buttons

nomenclature:
Superstructure prefix-element type-element modifier

!This excludes -active modifiers!

Note:
There may be more than one modifier attaached to a given class

This stylesheet should be added to the markup first, and classes contained here should only be referenced, not modified in and of themselves
Media queries for all associated classes can be found at the bottom of this stylesheet

Columns and Rows

These function following the principle of every CSS grid framework

each row has 12 columns of a set width, and all elements in a given row must add to 12

there are also variants for smaller screen sizes:
sp-col-xs: <= 768px
sp-col-sml: <= 992px
sp-col-md: <= 1280px
sp-col-lg: <= 1440px

DEPRECATED BUT AVLIABLE:
sp-col-xl: <= 1700px

Usage example:

<div class="sp-row">
  <div class="sp-col sp-col-6"></div>
  <div class="sp-col sp-col-3"></div>
  <div class="sp-col sp-col-2"></div>
  <div class="sp-col sp-col-1"></div>
</div>
*/
.sp-row{
  display:flex;
  flex-flow:row wrap;
}
.sp-row-cntr{
  justify-content: center;
}
.sp-row-eql{
  justify-content:space-between;
}
.sp-row, .sp-col {
    box-sizing: border-box;
    overflow: hidden;
}
.sp-row:before, .sp-row:after {
  content:"";
  display:flex;
}
.sp-row:after {
  clear:both;
}
.sp-col {
  position:relative;
  float:left;
  height:100%;
  padding:10px;
}
.sp-col.sp-row {
  height:100%;
}
.sp-col-0{
  width:0;
  padding:10px 0;
}
.sp-col-1 {
    width:calc(100% / 12);
}
.sp-col-2 {
    width:calc((100% / 12) * 2);
}
.sp-col-3 {
    width:calc((100% / 12) * 3);
}
.sp-col-4 {
    width:calc((100% / 12) * 4);
}
.sp-col-5 {
    width:calc((100% / 12) * 5);
}
.sp-col-6 {
    width:calc((100% / 12) * 6);
}
.sp-col-7 {
    width:calc((100% / 12) * 7);
}
.sp-col-8 {
    width:calc((100% / 12) * 8);
}
.sp-col-9 {
    width:calc((100% / 12) * 9);
}
.sp-col-10 {
    width:calc((100% / 12) * 10);
}
.sp-col-11 {
    width:calc((100% / 12) * 11);
}
.sp-col-12 {
    width:100%;
}
/*
Text Blocks
A variety of text blocks
Simple blocks for well-meshing font sizes in layouts
*/
.sp-text, .sp-txt-ty, .sp-text-sml, .sp-text-md, .sp-text-bg, .sp-heading-sml, .sp-heading-md, .sp-heading-bg, .sp-heading-ty{
    text-align: left;
}
.sp-text, .sp-txt-ty, .sp-text-sml, .sp-text-md, .sp-text-bg, .sp-heading-sml, .sp-heading-md, .sp-heading-bg{
    font-weight: normal;
}
p, .sp-text {
    font-size: 16px;
}
.sp-text-md {
    font-size: 15px;
}
.sp-text-sml {
    font-size: 14px;
}
.sp-text-ty{
  font-size:13px;
}
h1, .sp-heading-bg {
    font-size: 26px;
}
h2, .sp-heading-md {
    font-size: 18px;
}
h3, .sp-heading-sml {
    font-size: 15px;
}
h4, .sp-heading-ty {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.sp-text-cntr {
    text-align: center;
}
.sp-heading-tt {
    font-size: 36px;
}
/*
Container
Base containers to organise content

Most useful when used with another class to determine width
*/
.sp-cont {
    position: relative;
    width: auto;
    overflow: auto;
    display: inline-block;
}
/*
Modals

Simple modal containers to simplify modal creation

Usage:
<div class="modal-container">
    <div class="modal CUSTOM_STYLING">
        <div class="modal-part modal-top CUSTOM_STYLING></div>
        <div class="modal-part CUSTOM_STYLING"></div>
        ...
    </div>
</div>
*/
.sp-modal{
    margin-top:-221px;
    width: 576px;
    display: block;
    position: absolute;
    transform: scale(0, 0);
    overflow: hidden;
    z-index: 20;
    left: 50%;
    top: 50%;
    transition: 0.3s ease all;
}
.sp-modal-active{
    margin-top:0;
    transform: scale(1, 1) translate(-50%, -50%);
}
.sp-modal-prt{
    padding: 10px 35px;
}
.sp-modal-tp {
    height: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.sp-modal-cont {
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 19;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease all;
}
.sp-modal-cont-active {
    display: block;
    transition: 0.3s ease all;
}
/*
Buttons
Base classes for generic buttons

These are a series of generic buttons designed to change  with hover transitions

The default buttons do not have a background color, and feature black borders and text

Also includes a secondary class to allow for a curved border, which is useful for alert classes
Usage:
<div class="sp-btn"></div>

<button class="sp-btn"></button>

*/
.sp-btn, .sp-sml-btn {
    margin: auto;
    text-align: center;
    cursor: pointer;
    color: black;
    background-color: transparent;
    transition: all .3s ease;
    display:inline-block;
}
.sp-btn {
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 18px;
}
.sp-btn {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 15px;
}
.sp-btn:hover, .sp-sml-btn:hover {
    background-color: black;
    color: white;
}
.sp-btn-cb {
    border-radius: 2px;
}
/*
Forms
Base classes for geenric forms

These are classes for form input fields and the groups that forms come in
These classes can be used in conjunction with js provided in 'foundation.js' to allow for auto-hiding of the placeholder

The inputs themselves have no background color by default, so will 'inherit' from parent elements
When focused, the form inputs then gain a grey overlay that still allows some of the parent's color through

Usage:
<div class="sp-form-grp">
    <input class="sp-form-in" name="first"/>
    <label class="sp-form-lbl" for="first"/>
</div>
*/
.sp-form-in, .sp-form-lbl, .sp-form-grp, .sp-form-grp-hlf, .sp-form-brk {
    float: left;
}
.sp-form-grp, .sp-form-grp-hlf {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}
.sp-form-in {
    border: none;
    border-bottom: 1px solid #DEE2E5;
    background-color: transparent;
    font-size: inherit;
    margin-bottom: 16px;
    padding: 12px 5px 7px 5px;
    transition: all .3s ease;
    position:relative;
    z-index:1;
}
.sp-form-in::-moz-placeholder{
    color:#999;
    opacity:1
}
.sp-form-in:-ms-input-placeholder{
    color:#999;
}
.sp-form-in::-webkit-input-placeholder{
    color:#999;
}
.sp-form-in:focus, .sp-form-in-hlf:focus {
    background-color: rgba(211,211,211,0.7)
}
.sp-form-in:focus + .sp-form-lbl {
    top: -18px;
    transform: scale(0.9);
    color:#000;
    left:0;
}
.sp-form-in {
    width: calc(100%);
    margin-bottom: 15px;
}
.sp-form-grp {
    width: 100%;
}
.sp-form-grp-hlf {
    width: calc((100% / 2) - 1%);
}
.sp-form-lbl {
    transform-origin: left;
    position: absolute;
    left: 5px;
    top:12px;
    font-size: inherit;
    color: #999;
    transition: all .1s ease;
    z-index:0;
}
.sp-form-brk {
    width: 2%;
    height: 5px;
}
/*
Alerts
Basic alerts using clean colors

These alerts are split into different types:
    - Text alerts
    - Background color alerts
    - Alerts that pop up at the bottom of the screen (these require groundwork.js as well)

Usage:
The 'alert-popup' class can be used without any further text classes being placed inside it
Also comes with a pre-determined 'alert' class that can be used to show alert messages in different places
*/
.sp-alert, .sp-alert-pp{
    font-size:18px;
}
.sp-alert{
    display:inline-block;
    padding:10px 20px;
    border-radius:2px;
}
.sp-alert-pp{
    position:fixed;
    bottom:0;
    left:0;
    height:auto;
    line-height:45px;
    text-align:center;
    transition:all .3s ease;
    overflow:hidden;
    margin-left:20px;
    padding:0 5px;
    margin-bottom:-500px;
}
.sp-alert-pp-active{
    margin-bottom:20px;
}
.sp-alert-txt-dngr {
    color: #C9302C;
}
.sp-alert-txt-wrn {
    color: #EC971F;
}
.sp-alert-txt-ok {
    color: #449D44;
}
.sp-alert-dngr {
    background-color: #C9302C;
}
.sp-alert-wrn {
    background-color: #EC971F;
}
.sp-alert-ok {
    background-color: #449D44;
}
/*
Media Queries
These media queries control all classes already listed above. If you want to make changes to the media query breakpoints,
do this with a custom class
*/
@media screen and (max-width:1700px){
    .sp-col-xl-0{
      width:0;
      padding:10px 0;
    }
    .sp-col-xl-1 {
        width:calc(100% / 12);
    }
    .sp-col-xl-2 {
        width:calc((100% / 12) * 2);
    }
    .sp-col-xl-3 {
        width:calc((100% / 12) * 3);
    }
    .sp-col-xl-4 {
        width:calc((100% / 12) * 4);
    }
    .sp-col-xl-5 {
        width:calc((100% / 12) * 5);
    }
    .sp-col-xl-6 {
        width:calc((100% / 12) * 6);
    }
    .sp-col-xl-7 {
        width:calc((100% / 12) * 7);
    }
    .sp-col-xl-8 {
        width:calc((100% / 12) * 8);
    }
    .sp-col-xl-9 {
        width:calc((100% / 12) * 9);
    }
    .sp-col-xl-10 {
        width:calc((100% / 12) * 10);
    }
    .sp-col-xl-11 {
        width:calc((100% / 12) * 11);
    }
    .sp-col-xl-12 {
        width:100%;
    }
}
@media screen and (max-width:1440px){
    .sp-col-lg-0{
      width:0;
      padding:10px 0;
    }
    .sp-col-lg-1 {
        width:calc(100% / 12);
    }
    .sp-col-lg-2 {
        width:calc((100% / 12) * 2);
    }
    .sp-col-lg-3 {
        width:calc((100% / 12) * 3);
    }
    .sp-col-lg-4 {
        width:calc((100% / 12) * 4);
    }
    .sp-col-lg-5 {
        width:calc((100% / 12) * 5);
    }
    .sp-col-lg-6 {
        width:calc((100% / 12) * 6);
    }
    .sp-col-lg-7 {
        width:calc((100% / 12) * 7);
    }
    .sp-col-lg-8 {
        width:calc((100% / 12) * 8);
    }
    .sp-col-lg-9 {
        width:calc((100% / 12) * 9);
    }
    .sp-col-lg-10 {
        width:calc((100% / 12) * 10);
    }
    .sp-col-lg-11 {
        width:calc((100% / 12) * 11);
    }
    .sp-col-lg-12 {
        width:100%;
    }
}
@media screen and (max-width:1280px){
    .sp-col-md-0{
      width:0;
      padding:10px 0;
    }
    .sp-col-md-1 {
        width:calc(100% / 12);
    }
    .sp-col-md-2 {
        width:calc((100% / 12) * 2);
    }
    .sp-col-md-3 {
        width:calc((100% / 12) * 3);
    }
    .sp-col-md-4 {
        width:calc((100% / 12) * 4);
    }
    .sp-col-md-5 {
        width:calc((100% / 12) * 5);
    }
    .sp-col-md-6 {
        width:calc((100% / 12) * 6);
    }
    .sp-col-md-7 {
        width:calc((100% / 12) * 7);
    }
    .sp-col-md-8 {
        width:calc((100% / 12) * 8);
    }
    .sp-col-md-9 {
        width:calc((100% / 12) * 9);
    }
    .sp-col-md-10 {
        width:calc((100% / 12) * 10);
    }
    .sp-col-md-11 {
        width:calc((100% / 12) * 11);
    }
    .sp-col-md-12 {
        width:100%;
    }
}
@media screen and (max-width:992px){
    .sp-col-sml-0{
      width:0;
      padding:10px 0;
    }
    .sp-col-sml-1 {
        width:calc(100% / 12);
    }
    .sp-col-sml-2 {
        width:calc((100% / 12) * 2);
    }
    .sp-col-sml-3 {
        width:calc((100% / 12) * 3);
    }
    .sp-col-sml-4 {
        width:calc((100% / 12) * 4);
    }
    .sp-col-sml-5 {
        width:calc((100% / 12) * 5);
    }
    .sp-col-sml-6 {
        width:calc((100% / 12) * 6);
    }
    .sp-col-sml-7 {
        width:calc((100% / 12) * 7);
    }
    .sp-col-sml-8 {
        width:calc((100% / 12) * 8);
    }
    .sp-col-sml-9 {
        width:calc((100% / 12) * 9);
    }
    .sp-col-sml-10 {
        width:calc((100% / 12) * 10);
    }
    .sp-col-sml-11 {
        width:calc((100% / 12) * 11);
    }
    .sp-col-sml-12 {
        width:100%;
    }
}
@media screen and (max-width:768px){
    .sp-col-xs-0{
      width:0;
      padding:10px 0;
    }
    .sp-col-xs-1 {
        width:calc(100% / 12);
    }
    .sp-col-xs-2 {
        width:calc((100% / 12) * 2);
    }
    .sp-col-xs-3 {
        width:calc((100% / 12) * 3);
    }
    .sp-col-xs-4 {
        width:calc((100% / 12) * 4);
    }
    .sp-col-xs-5 {
        width:calc((100% / 12) * 5);
    }
    .sp-col-xs-6 {
        width:calc((100% / 12) * 6);
    }
    .sp-col-xs-7 {
        width:calc((100% / 12) * 7);
    }
    .sp-col-xs-8 {
        width:calc((100% / 12) * 8);
    }
    .sp-col-xs-9 {
        width:calc((100% / 12) * 9);
    }
    .sp-col-xs-10 {
        width:calc((100% / 12) * 10);
    }
    .sp-col-xs-11 {
        width:calc((100% / 12) * 11);
    }
    .sp-col-xs-12 {
        width:100%;
    }
}
@media screen and (max-width:425px){
    .sp-col{
      width:100%;
    }
    .sp-col-m-none{
      width:0;
      padding:0;
    }
}
