body{
    padding:0;
    margin:0;
}
*{
    font-family:'Quicksand', sans-serif;
}
.demo-title{
    background-color:#414d59;
    color:white;
}
.white-button{
    border-color:white;
    color:white;
    width:50%;
}
.white-button:hover{
    color:black;
    background-color:white;
}
.demo-block, .demo-block-alt{
     margin-bottom:10px;
}
.demo-block{
    width:calc(100% - 4px);
    height:calc(10vh - 4px);
    margin:auto;
    border:2px solid black;
}
.demo-button{
    width:30%;
}
.demo-alert{
    position:relative;
    left:50%;
    transform:translate(-50%, 0);
    text-align:center;
}
#halves:before{
    content:"Halves";
}
#thirds:before{
    content:"Thirds";
}
#quarters:before{
    content:"Quarters";
}
@media screen and (max-width:1440px){
    
}
@media screen and (max-width:1024px){
    .block-quarter{
        width:calc(100% / 3);
    }
    #quarters:before{
        content:"Now They're Thirds";
    }
}
@media screen and (max-width:768px){
    .block-third, .block-quarter{
        width:calc(100% / 2);
    }
    #quarters:before{
        content:"Now They're Halves";
    }
    #thirds:before{
        content:"and Now They're Halves";
    }
}
@media screen and (max-width:425px){
    .block, .block-half, .block-third, .block-quarter{
        width:100%;
    }
    #halves:before{
        content:"Everything is full width on phones";
    }
    #thirds:before{
        content:"";
    }
    #quarters:before{
        content:"";
    }
    .white-button, .demo-button{
        width:80%;
    }
}